<mat-form-field class="example-full-width">
  <mat-label>First Name</mat-label>
  <input matInput #firstname>
</mat-form-field><br><br>

<mat-form-field class="example-full-width">
  <mat-label>Last Name</mat-label>
  <input matInput #lastname>
</mat-form-field><br><br>

<mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput #email>
  </mat-form-field><br><br>

<mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput #username>
  </mat-form-field><br><br>

<mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput #password>
</mat-form-field><br><br>

<mat-form-field class="example-full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput #passwordConfirm>
</mat-form-field><br><br>

<button mat-raised-button color="primary" (click)="handleClick()">Register</button>